body {
	max-width: 800px;
	margin: auto;
}

textarea {
	width: 400px;
	height: 200px;
}

label {
	display: block;
	margin-top: 20px;
}

span {
	color: red;
}

.error {
	color: red;
	margin-top: 10px;
	margin-bottom: 10px;
}

.post-subject {
	border-bottom: 1px solid grey;
	font-size: 20px;
	margin-top: 20px;
}

.post-subject > a {
	text-decoration: none;
}

.actions > div {
	display: inline-block;
}

.comment {
	border: 1px outset;
	margin: 10px 0;
	padding: 10px;
}