{% extends "base.html" %}

{% block content %}
	<h1>{{post.subject}}</h1>
	<div>{{post.content}}</div>
	<div class="actions">
		<div>
			{% if vote %}
			<form method="post">
				<input type="submit" value="{{vote}}">
			</form>
		{% endif %}
		</div>
		<div><a href="{{post.key().id()}}/comment">Comment</a></div>
		<div><a href="/{{post.key().id()}}/delete">Delete</a></div>
		<div><a href="/{{post.key().id()}}/edit">Edit</a></div>
	</div>
	{% for comment in comments %}
		<div class="comment">
			<p>{{comment.content}}</p>
			<p>by {{comment.author.name}}</p>
			<a href="/{{post.key().id()}}/comment/{{comment.key().id()}}/edit">Edit</a>
			<a href="/{{post.key().id()}}/comment/{{comment.key().id()}}/delete">Delete</a>
		</div>
	{% endfor %}
{% endblock %}
